@import "./navbar/navbar.scss";
@import "./navbar/register.scss";

//Home
@import "./home/index.scss";
@import "./home/members.scss";
@import "./home/posts.scss";
@import "./home//chatmenu.scss";

//Posts
@import "./posts/index.scss";

//Create Post
@import "./createpost/index.scss";
@import "./comments/index.scss";

//Member Page
@import "./member/index.scss";

.pc-wrapper {
  font-family: "Playwrite IT Moderna", cursive;
  .lifter {
    position: fixed;
    right: 20px;
    background-color: rgb(246, 149, 71);
    z-index: 100;
    height: 50px;
    width: 40px;
    bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    animation: lifter-anim 2s infinite ease-in;
    box-shadow: 0 0 10px white;
    svg {
      color: black;
      font-size: 30px;
      cursor: pointer;
    }
  }
}

@keyframes lifter-anim {
    0%{
        margin-bottom:20px;
    }
    50%{
        margin-bottom: 0;
    }
    100%{
        margin-bottom:20px;
    }
}