.pc-wrapper {
  .home-page {
    background-color: black;
    color: white;
    margin: 0 auto;
    padding-left: 18%;
    flex: 1;
    .container{
      width: 70%;
      margin: 30px auto 0 auto; 
    }
  }
}
