.pc-wrapper {
  .home-page {
    background: black;
    color: white;
    margin: 0 auto;
    padding-left: 0%;
    flex: 1;
    flex-direction: row;
    .container {
      width: 70%;
      margin: 30px auto 0 auto;
    }
  }
}
