body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  user-select: none;
  font-family: "Playwrite IT Moderna", cursive;
}
.pagination {
  align-self: center;
  margin: 30px 0;
  .css-iqeo3-MuiButtonBase-root-MuiPaginationItem-root {
    color: white;
  }
  .css-iqeo3-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    border-color: white;
    color: white;
  }
}


.extra-menu {
  width: 300px;
  padding: 0;
  bottom: 40px;
  font-family: "Playwrite IT Moderna", cursive;
  .MuiPaper-root {
    left: 5px !important;
  }
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    border-radius: 15px;
    background-color: #262626;
  }
  .MuiList-root {
    padding: 0;
    border-radius: 10px;
  }
  .menu-items {
    background-color: #262626;
    padding: 10px;
    border-radius: 10px;

    .menu-item {
      width: 250px;
      border-radius: 10px;
      padding: 10px;
      font-family: "Playwrite IT Moderna", cursive;
      &:hover {
        background-color: #555;
      }
      .menu-item-icon {
        flex-direction: row;
        gap: 10px;
        font-size: 14px;
        color: white;
        letter-spacing: 1px;
        align-items: center;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
